.training-button{
    height: 35vh;
    margin: 1vh 2vh;
    display: flex;
}

.flex-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
}

.workouts{
    width: 20vh;
    height: 20vh;
    margin-bottom: 2vh;
}

.flex-center{
    display: flex;
    justify-content: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.page-title{
    text-align: center;
    font-weight: bold;
    color: #00587a;
    text-transform: uppercase;
}

.color-main {
    --f7-theme-color: #00587a;
    --f7-theme-color-rgb: 	0, 88, 122;
    --f7-theme-color-shade: #004661;
    --f7-theme-color-tint: #006a94;
  }